.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: row;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.github_container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.github {
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-5));
}

.avatar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.information_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    align-items: flex-start;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
  }
}

.github:hover {
  text-decoration: underline;
}

.button_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.button {
  width: 100%;
}

.title_container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.divider {
  margin-top: 2rem;
  height: 1px;
  width: 80%;
  background-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-gray-6)
  );

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 70%;
  margin-top: 2rem;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.information_element {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
